# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Virtual environment
.venv/

# Build / Distribution
build/
dist/
*.egg-info/

# Cookies & sensitive data
cookies/
*.json

# Logs
*.log

# System files
.DS_Store
Thumbs.db
